@model VALCOBulkSMSAlertSystem.Models.UserSettings

<h1>User List</h1>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            @*<th>No. of Messages</th>
            <th>Last Message Sent</th>*@
            <th>Actions</th>
            <!-- Add more columns for additional user properties -->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.VALCOUsers)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                @*<td>@user.UserMessages.Count()</td>
                <td>@user.UserMessages.LastOrDefault()</td>*@
                <td>
                    <div style="display: inline-flex; align-items: center;">
                    @*<a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |*@
                        <a class="btn btn-primary" style="margin-right: 10px;" asp-action="Details" asp-route-id="@user.Id">Details</a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                    </div>
                </td>
                <!-- Add more columns for additional user properties -->
            </tr>
        }
    </tbody>
</table>


