@model VALCOBulkSMSAlertSystem.Models.ContactsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Contacts</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
@*Add a form that will be used to Upload Excel File using the Task<IActionResult> UploadFile(IFormFile file) in *@
@*ContactsController.cs. *@
<form method="post" enctype="multipart/form-data" asp-controller="Contacts" asp-action="UploadFile">
    <div class="form-group">
        <label for="file">Upload Excel File with Contacts</label>
        <input type="file" name="file" class="form-control-file" id="file">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<div>
    <h4>Select a contact(s) to a send message(s)</h4>
</div>

<form method="post" asp-controller="Contacts" asp-action="SelectRecipients">
    @*Post to URL: *@
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input id="selectAll" type="checkbox" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactsList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactsList[0].Phone)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ContactsList.Count; i++)
            {
                <tr>
                    <td>
                        <input name="selectedContacts" type="checkbox" value="@Model.ContactsList[i].Name" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ContactsList[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ContactsList[i].Phone)
                    </td>
                    <td>
                        <div style="display: inline-flex; align-items: center;">
                            <a class="btn btn-primary" style="margin-right: 10px;" asp-action="Edit" asp-route-id="@Model.ContactsList[i].Id">Edit</a>
                            <a class="btn btn-primary" style="margin-right: 10px;" asp-action="Details" asp-route-id="@Model.ContactsList[i].Id">Details</a>
                            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.ContactsList[i].Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Select" class="btn btn-primary" />
</form>

@section Scripts {
    <script>
        // Check/uncheck all checkboxes when "Select All" checkbox is clicked
        $(function () {
            $('#selectAll').click(function () {
                $('input[name="selectedContacts"]').prop('checked', $(this).prop('checked'));
            });
        });
    </script>
}

